* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

:root {
  --color-principal:#242b34 ;
  --color-principal-transparente:#242b3481 ; }

.row {
  --bs-gutter-x:0rem !important; }

header {
  position: sticky;
  top: 0%;
  z-index: 2; }

nav {
  background-color: var(--color-principal) !important;
  font-size: 17px; }
  nav a {
    color: #dbdbdb !important; }
  nav .navbar-brand {
    background-color: #aaa; }
  nav .logosNav {
    display: none; }

@media (min-width: 1064px) {
  nav {
    font-size: 17px; }
    nav .dropdown-menu {
      background-color: var(--color-principal); }
    nav a {
      font-size: 15px;
      background-color: var(--color-principal); }
    nav .logosNav {
      display: block; }
      nav .logosNav a {
        font-size: 30px;
        margin-left: 5px; } }
main {
  background: var(--color-principal);
  height: auto;
  padding: 0% !important;
  z-index: 1;
  position: relative;
  margin-bottom: 250px; }

@media (max-width: 1064px) {
  main {
    margin-bottom: 60px !important;
    padding-bottom: 20px !important; } }
/*----------------------------Index----------------------------*/
.portada {
  width: 100%;
  height: 300px;
  background-image: url(../assets/img/portada.jpg);
  background-size: cover;
  filter: opacity(80%); }
  .portada h1 {
    padding-top: 30px; }
  .portada .blockquote-footer::before {
    padding-left: 20px; }

@media (min-width: 1064px) {
  h1 {
    font-size: 100px !important;
    padding-left: 70px !important;
    padding-top: 70px !important; }

  .portada {
    background-image: url(../assets/img/portada-2.jpg);
    background-size: cover;
    filter: opacity(40%);
    height: 670px;
    width: 100%; }

  .blockquote-footer {
    font-size: 25px !important; }

  .blockquote-footer::before {
    padding-left: 100px !important; } }
/*---secciones servicios---*/
.seccionProyectos .contenedorproyectos {
  height: 145px;
  color: white;
  background-color: #14181dd5;
  margin-top: 5px; }
  .seccionProyectos .contenedorproyectos h6, .seccionProyectos .contenedorproyectos figcaption {
    padding-left: 10px; }
  .seccionProyectos .contenedorproyectos a {
    color: white;
    text-decoration: none !important;
    width: 100%;
    height: 25px;
    margin: 0% !important;
    padding: 0% !important;
    text-align: center; }

.seccionProyectos2 {
  display: none !important; }
  .seccionProyectos2 p, .seccionProyectos2 h5 {
    color: white; }
  .seccionProyectos2 h5 {
    margin-top: 20px;
    border-bottom: solid 2px red; }
  .seccionProyectos2 p {
    line-height: 0.05px;
    margin-top: 10px; }

@media (min-width: 1064px) {
  .seccionProyectos2 {
    display: flex !important;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
    .seccionProyectos2 .contenedor {
      border-radius: 50%;
      overflow: hidden; }
      .seccionProyectos2 .contenedor img {
        height: 250px;
        width: 250px;
        border-radius: 50%; }
        .seccionProyectos2 .contenedor img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }

  .seccionProyectos {
    display: none !important; } }
/*---muestra proyectos--*/
:root {
  --color-principal:#242b34 ;
  --color-principal-transparente:#242b3481 ; }

.titulo {
  color: white;
  font-weight: bold;
  background-color: var(--color-principal);
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0%; }

#carouselExampleCaptions {
  width: 100% !important;
  padding-top: 15px; }

.principalesProyectos {
  display: none; }

/*--VISTA DESKTOP--*/
@media (min-width: 1064px) {
  .titulo {
    display: none; }

  #carouselExampleCaptions {
    display: none; }

  .fondos, .principalesProyectos {
    background-position: center;
    background-size: cover;
    position: relative; }

  .principalesProyectos {
    background-image: url(../assets/img/fondo-nuestros-proyectos.jpg); }

  .principalesProyectos::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

  .principalesProyectos {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 540px 540px 1fr;
    grid-template-rows: 60px 220px 140px 210px 90px 30px;
    grid-column-gap: 5px; }
    .principalesProyectos .contenedor {
      border-radius: 0%;
      overflow: hidden; }
      .principalesProyectos .contenedor img {
        height: auto;
        width: auto;
        border-radius: 0%; }
        .principalesProyectos .contenedor img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .principalesProyectos div {
      color: white;
      position: relative;
      grid-row: 5/6;
      grid-column: 3/4;
      align-self: center; }
      .principalesProyectos div a {
        color: white !important; }
    .principalesProyectos h3 {
      color: white;
      position: relative;
      grid-row: 1/2;
      grid-column: 2/4;
      text-align: center;
      align-self: center; }
    .principalesProyectos .proyecto1 {
      grid-row: 2/4;
      grid-column: 2/3; }
    .principalesProyectos .proyecto2 {
      grid-row: 2/4;
      grid-column: 3/4;
      align-self: start; }
    .principalesProyectos .proyecto3 {
      grid-row: 4/6;
      grid-column: 2/3; }
    .principalesProyectos .proyecto4 {
      grid-row: 3/5;
      grid-column: 3/4; } }
/*---informacion---*/
.informacion {
  display: none; }
  .informacion .card-title {
    height: 30px;
    width: 200px;
    border-bottom: solid red 1px; }
  .informacion .card {
    background-color: inherit !important;
    border: inherit !important;
    color: white !important; }
    .informacion .card img:hover {
      filter: opacity(70%);
      transform: scale(1.1); }

@media (min-width: 1064px) {
  .informacion {
    margin-top: 30px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }
/*---footer---*/
:root {
  --color-principal:#242b34 ;
  --color-principal-transparente:#242b3481 ; }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  transition: all .25s ease;
  backface-visibility: hidden;
  perspective: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 250px;
  background-image: url(../assets/imagenes-arq/portada-seccion.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed; }
  footer .seccion1 {
    position: relative; }
    footer .seccion1 h5 {
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion1 i {
      color: white;
      font-size: 17px; }
      footer .seccion1 i a {
        text-decoration: none;
        color: white; }
  footer .seccion2 {
    position: relative;
    border-top: solid 2px #b1b0b0; }
    footer .seccion2 a, footer .seccion2 h6 {
      position: relative;
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion2 img {
      background-color: #aaa !important;
      border-radius: 5px;
      margin-right: 5px;
      width: 40px;
      height: 40px; }
    footer .seccion2 p {
      color: #b1b0b0; }

footer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@media (max-width: 1064px) {
  footer {
    height: 60px; }
    footer .seccion1 {
      display: none !important; }
    footer .seccion2 {
      border-top: inherit !important; }
      footer .seccion2 a img {
        width: 20px;
        height: 20px; }
      footer .seccion2 h6, footer .seccion2 p {
        font-size: 10px !important; } }
/* realizado solo vista mobile de index */
/*----------------------------secciones----------------------------*/
.tituloarquitectura {
  width: 100%;
  height: 300px;
  background-image: url(../../assets/imagenes-arq/portada-seccion.jpg);
  background-size: cover;
  filter: opacity(80%);
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  padding-right: 100px; }

@media (max-width: 1064px) {
  .tituloarquitectura {
    background-position: center;
    padding-right: 0%;
    padding-bottom: 40px;
    height: 200px; } }
.tituloproyectos1 {
  display: none !important; }

.mainproyectos {
  display: grid;
  grid-template-columns: 1fr 700px;
  grid-template-rows: 300px 950px; }
  .mainproyectos .arquitectura {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 50px; }

.offcanvas {
  margin-top: 70px; }

.arquitectura .card-title {
  height: 30px;
  width: 270px;
  border-bottom: solid red 1px;
  font-style: oblique; }
.arquitectura .card-text {
  line-height: 8px;
  margin-top: 20px; }
.arquitectura .card {
  background-color: inherit !important;
  border: inherit !important;
  color: white !important; }
.arquitectura .imagenButton {
  border: inherit !important;
  background-color: inherit !important;
  width: 300px;
  height: 300px;
  overflow: hidden; }
  .arquitectura .imagenButton img:hover {
    filter: opacity(70%);
    transform: scale(1.1);
    transition-duration: 2s; }
.arquitectura .offcanvas {
  background-color: #062030;
  color: white; }
.arquitectura .offcanvas-title {
  font-style: oblique;
  border-bottom: solid 2px red; }
.arquitectura .informaciondeproyecto p {
  margin-top: 10px;
  font-size: 14px; }

@media (max-width: 1064px) {
  .mainproyectos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 2600px;
    padding-top: 0%; }
    .mainproyectos .arquitectura {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-top: 30px;
      padding-right: 10px; } }
.asidesecciones {
  grid-row: 2/3;
  grid-column: 2/3;
  border-left: solid 2px white;
  padding-left: 50px; }
  .asidesecciones .atencion {
    color: #c0bfbf; }
    .asidesecciones .atencion .imgatencion {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      overflow: hidden; }
      .asidesecciones .atencion .imgatencion img {
        border-radius: 50%;
        width: 200px;
        height: 200px; }
        .asidesecciones .atencion .imgatencion img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .asidesecciones .atencion h5 {
      font-style: oblique; }
    .asidesecciones .atencion p {
      width: 380px;
      margin-left: 30px; }

@media (max-width: 1064px) {
  .asidesecciones {
    display: none !important; } }
/*----------------------------Cotizacion----------------------------*/
.subtitulo {
  padding-top: 20px;
  text-align: center; }

@media (min-width: 1064px) {
  .subtitulo {
    text-align: left;
    padding-left: 30px; }
    .subtitulo h6 {
      font-size: 30px; }
    .subtitulo .blockquote-footer {
      font-size: 20px !important;
      margin-top: 10px; }

  .accordion {
    width: 700px;
    margin-left: 50px; }

  .postTitulo {
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-template-rows: auto;
    padding-bottom: 30px; } }
.asideCotizacion {
  display: none !important; }

@media (min-width: 1064px) {
  .asideCotizacion {
    display: block !important; }
    .asideCotizacion video {
      animation-name: laterales;
      animation-duration: 5s;
      animation-iteration-count: infinite; } }
@keyframes laterales {
  0% {
    padding-left: 0px;
    padding-right: 100px; }
  100% {
    padding-left: 100px; } }
/*----------------------------Contacto----------------------------*/
.formulario {
  width: 500px;
  margin-top: 50px;
  color: white;
  justify-self: center; }
  .formulario .botones2 {
    display: none !important; }

@media (max-width: 1064px) {
  .formulario {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .formulario .botones2 {
      display: flex !important;
      height: 100px; }
    .formulario .botones {
      display: none !important; } }
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px; }

@media (max-width: 1064px) {
  .contacto {
    display: grid;
    grid-template-columns: 100%; } }
.asidePagesContacto {
  grid-column: 2/3;
  justify-self: center;
  width: 500px;
  height: 450px;
  margin-top: 50px;
  font-style: oblique;
  color: white; }
  .asidePagesContacto i {
    color: white; }
  .asidePagesContacto .datos {
    width: 500px; }
    .asidePagesContacto .datos a {
      text-decoration: none;
      color: white; }
  .asidePagesContacto .redescontacto i {
    font-size: 27px; }
  .asidePagesContacto iframe {
    border-radius: 15px; }

@media (max-width: 1064px) {
  .asidePagesContacto {
    display: none !important; } }

/*# sourceMappingURL=newStyles.css.map */
