* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.row {
  --bs-gutter-x:0rem !important; }

header {
  position: sticky;
  top: 0%;
  z-index: 3; }

nav {
  height: 50px;
  background-color: #181818;
  font-size: 17px;
  padding-top: 5px !important; }
  nav a {
    color: #dbdbdb !important; }
  nav a:hover {
    color: #7184a7 !important; }
  nav .dropdown-menu {
    background-color: #181818; }
  nav .container-fluid {
    background-color: #181818; }
  nav .dropdown-item:hover {
    background-color: #444444; }
  nav .logosNav {
    display: none; }
  nav #logo {
    background-color: #aaa;
    height: 40px;
    width: 40px; }
    nav #logo img {
      height: 40px;
      width: 40px; }
  nav .navbar-toggler-icon {
    background-image: inherit; }
    nav .navbar-toggler-icon i {
      color: white;
      font-size: 30px; }

@media (min-width: 1064px) {
  nav {
    font-size: 17px; }
    nav .logosNav {
      display: block; }
      nav .logosNav a {
        font-size: 30px;
        margin-left: 5px; } }
main {
  height: auto;
  padding: 0% !important;
  z-index: 1;
  position: relative;
  margin-bottom: 190px; }

@media (max-width: 1064px) {
  main {
    margin-bottom: 70px !important;
    padding-bottom: 20px !important; } }
body::-webkit-scrollbar {
  width: 7px;
  background-color: #181818; }

body::-webkit-scrollbar-thumb {
  background-color: #7184a7;
  border-radius: 7px; }

/*----------------------------Index----------------------------*/
.portada {
  background-image: url(../assets/img/fondo-nuestros-proyectos.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 245px;
  position: relative;
  z-index: 1;
  height: 245px; }
  .portada .portadatitulo {
    width: 100%;
    color: white;
    padding-top: 50px;
    padding-left: 30px; }
    .portada .portadatitulo span {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 0.9em;
      letter-spacing: -2.5px;
      font-weight: bolder !important;
      position: relative; }

.portada::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 245px;
  background-color: black;
  position: absolute;
  opacity: 0.7; }

.imgportada {
  display: none; }

@media (min-width: 1064px) {
  .portada {
    background-size: 100% 670px;
    height: 670px; }

  .portada::before {
    height: 670px; }

  .portadatitulo {
    padding-top: 150px !important;
    padding-left: 50px; }
    .portadatitulo span {
      font-size: 60px !important;
      font-weight: 300;
      letter-spacing: -5px; }

  .blockquote-footer {
    font-size: 25px !important; }

  .blockquote-footer::before {
    padding-left: 100px !important; }

  .imgportada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .imgportada .img2 {
      grid-row: 2/3;
      grid-column: 2/3; } }
/*---secciones servicios---*/
.seccionProyectos2 {
  background-color: #181818;
  display: flex !important;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .seccionProyectos2 .contenedor {
    border-radius: 50%;
    overflow: hidden; }
    .seccionProyectos2 .contenedor img {
      height: 200px;
      width: 200px;
      border-radius: 50%; }
      .seccionProyectos2 .contenedor img:hover {
        filter: opacity(60%);
        transform: scale(1.2);
        transition-duration: 2s; }
  .seccionProyectos2 p, .seccionProyectos2 h5 {
    color: white; }
  .seccionProyectos2 h5 {
    margin-top: 20px;
    border-bottom: solid 2px #7184a7;
    font-size: 17px; }
  .seccionProyectos2 p {
    line-height: 0.02px;
    margin-top: 10px;
    font-size: 13px; }

@media (min-width: 480px) {
  .seccionProyectos2 h5 {
    font-size: 12px !important; } }
@media (min-width: 1064px) {
  .seccionProyectos2 .contenedor {
    border-radius: 50%;
    overflow: hidden; }
    .seccionProyectos2 .contenedor img {
      height: 250px;
      width: 250px !important;
      border-radius: 50%; }
      .seccionProyectos2 .contenedor img:hover {
        filter: opacity(60%);
        transform: scale(1.2);
        transition-duration: 2s; }
  .seccionProyectos2 h5 {
    font-size: 20px !important; }
  .seccionProyectos2 p {
    line-height: 0.05px;
    font-size: 18px; } }
/*---muestra proyectos--*/
.proyectos2 {
  display: none; }

.fondos, .principalesProyectos {
  background-position: center;
  background-size: cover;
  position: relative; }

.principalesProyectos {
  background-image: url(../assets/img/fondo-nuestros-proyectos.jpg);
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .principalesProyectos .tituloproyectos {
    font-size: 15px;
    margin-top: 5px;
    color: white;
    position: relative;
    text-align: center;
    align-self: center;
    font-weight: bolder; }
  .principalesProyectos #carouselExampleFade {
    width: 250px;
    height: 250px;
    padding: inherit; }

.principalesProyectos::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@media (min-width: 1064px) {
  .principalesProyectos {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 540px 540px 1fr;
    grid-template-rows: 60px 220px 140px 210px 90px 30px;
    grid-column-gap: 5px; }
    .principalesProyectos #carouselExampleFade {
      display: none; }
    .principalesProyectos .contenedor {
      border-radius: 0%;
      overflow: hidden; }
      .principalesProyectos .contenedor img {
        height: auto;
        width: auto;
        border-radius: 0%; }
        .principalesProyectos .contenedor img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .principalesProyectos div {
      color: white;
      position: relative;
      grid-row: 5/6;
      grid-column: 3/4;
      align-self: center; }
      .principalesProyectos div a {
        color: white !important; }
    .principalesProyectos .tituloproyectos {
      font-size: 25PX;
      grid-row: 1/2;
      grid-column: 2/4; }
    .principalesProyectos .proyecto1 {
      grid-row: 2/4;
      grid-column: 2/3; }
    .principalesProyectos .proyecto2 {
      grid-row: 2/4;
      grid-column: 3/4;
      align-self: start; }
    .principalesProyectos .proyecto3 {
      grid-row: 4/6;
      grid-column: 2/3; }
    .principalesProyectos .proyecto4 {
      grid-row: 3/5;
      grid-column: 3/4; } }
/*---informacion---*/
.informacion {
  display: none !important; }

.seccioninformacion {
  background-color: #181818; }
  .seccioninformacion .informacion .card-title, .seccioninformacion .carousel .card-title {
    height: 30px;
    width: 200px;
    border-bottom: solid #7184a7 1px; }
  .seccioninformacion .informacion .card, .seccioninformacion .carousel .card {
    background-color: inherit !important;
    border: inherit !important;
    color: white !important; }
    .seccioninformacion .informacion .card img:hover, .seccioninformacion .carousel .card img:hover {
      filter: opacity(70%);
      transform: scale(1.1); }
  .seccioninformacion .carousel {
    padding-top: 20px;
    padding-bottom: 20px; }
    .seccioninformacion .carousel .carousel-item {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .seccioninformacion .carousel .card-body {
      padding: inherit; }
    .seccioninformacion .carousel .card-title {
      height: 35px;
      width: 120px;
      font-size: 15px;
      margin-top: 5px; }
    .seccioninformacion .carousel .card-text {
      font-size: 10px; }
    .seccioninformacion .carousel .card {
      width: 120px !important; }

@media (min-width: 1064px) {
  .seccioninformacion .carousel {
    display: none; }
  .seccioninformacion .informacion {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #181818;
    padding-top: 30px; } }
/*---footer---*/
footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  transition: all .25s ease;
  backface-visibility: hidden;
  perspective: 800px;
  padding-top: 10px;
  height: 190px;
  background-image: url(../assets/imagenes-arq/portada-seccion.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed; }
  footer .seccion1 {
    position: relative; }
    footer .seccion1 h5 {
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion1 i {
      color: white;
      font-size: 17px; }
      footer .seccion1 i a {
        text-decoration: none;
        color: white; }
  footer .seccionmobile {
    display: none; }
  footer .seccion2 {
    position: relative;
    border-top: solid 2px #b1b0b0; }
    footer .seccion2 a, footer .seccion2 h6 {
      position: relative;
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion2 img {
      background-color: #aaa !important;
      border-radius: 5px;
      margin-right: 5px;
      width: 40px;
      height: 40px; }
    footer .seccion2 p {
      color: #b1b0b0;
      margin-top: 10px;
      height: 10px; }

footer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@media (max-width: 1064px) {
  footer {
    height: 90px; }
    footer .seccion1 {
      display: none !important; }
    footer .seccion2 {
      border-top: inherit !important; }
      footer .seccion2 .tituloarki {
        margin-top: 5px; }
      footer .seccion2 a img {
        width: 20px;
        height: 20px; }
      footer .seccion2 h6, footer .seccion2 p {
        font-size: 10px !important; }
      footer .seccion2 p {
        margin-top: inherit; }
    footer .seccionmobile {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: solid 0.05px white;
      padding-bottom: 5px; }
      footer .seccionmobile a i {
        color: #b1b0b0; } }
/* realizado solo vista mobile de index */
/*----------------------------secciones----------------------------*/
.titulos {
  width: 100%;
  height: 300px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  background-image: url(../../assets/imagenes-arq/portada-seccion.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  position: relative;
  padding-bottom: 120px; }
  .titulos span {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.9em;
    letter-spacing: -2.5px;
    font-weight: bolder !important; }
  .titulos .ahora {
    color: #181818; }

@media (max-width: 768px) {
  .titulos {
    height: 200px;
    background-size: 100% 200px;
    padding-bottom: 90px; } }
@media (max-width: 480px) {
  .titulos {
    height: 150px;
    background-size: 100% 150px;
    padding-bottom: 60px; }
    .titulos span {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 0.9em;
      letter-spacing: -2.5px;
      font-weight: bolder !important; } }
.mainproyectos {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 300px 1fr; }
  .mainproyectos .presentacionproyectos {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 50px;
    background-color: #181818; }
    .mainproyectos .presentacionproyectos .card {
      background: inherit;
      border: inherit;
      border-radius: inherit;
      color: white;
      width: 300px;
      height: 400px;
      margin-bottom: 30px; }
      .mainproyectos .presentacionproyectos .card .btn {
        background: inherit;
        border: inherit;
        padding: inherit;
        height: 250px;
        width: 250px;
        overflow: hidden; }
        .mainproyectos .presentacionproyectos .card .btn img {
          border-radius: 5px;
          height: 250px;
          width: 250px; }
          .mainproyectos .presentacionproyectos .card .btn img:hover {
            filter: opacity(70%);
            transform: scale(1.1);
            transition-duration: 2s; }
      .mainproyectos .presentacionproyectos .card .titulocard {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 18px;
        border-bottom: solid 1px #7184a7;
        width: 250px; }
      .mainproyectos .presentacionproyectos .card .offcanvas-title {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 18px;
        border-bottom: solid 1px black; }
      .mainproyectos .presentacionproyectos .card .textocard {
        font-weight: bold; }
      .mainproyectos .presentacionproyectos .card .card-body {
        padding: inherit; }
      .mainproyectos .presentacionproyectos .card .offcanvas {
        background-color: #444444;
        margin-top: 50px; }

@media (max-width: 1064px) {
  .mainproyectos .presentacionproyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; } }
@media (max-width: 768px) {
  .mainproyectos {
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 200px 1fr; }
    .mainproyectos .presentacionproyectos {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center; } }
@media (max-width: 480px) {
  .mainproyectos {
    display: grid;
    grid-template-rows: 150px 1fr; }
    .mainproyectos .card {
      width: 150px !important; }
      .mainproyectos .card .btn {
        height: 150px !important;
        width: 150px !important; }
        .mainproyectos .card .btn img {
          height: 150px !important;
          width: 150px !important; }
      .mainproyectos .card .titulocard {
        font-size: 15px !important;
        width: 150px !important; }
      .mainproyectos .card .textocard {
        font-size: 13px !important;
        width: 150px !important; }
      .mainproyectos .card .card-body {
        width: 150PX  !important; } }
.asidesecciones {
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 1; }
  .asidesecciones .btn {
    height: 50px;
    width: 100%;
    border: inherit;
    border-radius: 0%;
    background-color: #444444;
    transform: rotate(90deg); }
  .asidesecciones .atencion {
    color: white;
    margin-top: 50px; }
    .asidesecciones .atencion .imgatencion {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      overflow: hidden; }
      .asidesecciones .atencion .imgatencion img {
        border-radius: 50%;
        width: 200px;
        height: 200px; }
        .asidesecciones .atencion .imgatencion img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .asidesecciones .atencion h5 {
      font-style: oblique; }
    .asidesecciones .atencion p {
      width: 380px;
      margin-left: 30px; }
  .asidesecciones .offcanvas {
    width: 650PX !important;
    background-color: #444444;
    margin-top: 50px; }
    .asidesecciones .offcanvas .offcanvas-title {
      color: white;
      font-weight: bolder;
      font-size: 18px;
      border-bottom: solid 1px black; }

@media (max-width: 768px) {
  .asidesecciones .btn {
    height: 25px !important; } }
/*----------------------------Cotizacion----------------------------*/
/*mobile*/
video {
  display: none; }

.form1 {
  background-color: #181818; }

.form2 {
  background-color: #1e1e1e; }

.form3 {
  background-color: #282828; }

.form1, .form2, .form3 {
  display: grid;
  grid-template-rows: 50px 1fr; }
  .form1 .aside, .form2 .aside, .form3 .aside {
    grid-row: 1/2; }
  .form1 .texto, .form2 .texto, .form3 .texto {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.9em;
    letter-spacing: -2.5px;
    font-weight: bolder;
    color: white;
    text-align: center !important;
    position: relative;
    font-style: oblique;
    width: 100%; }
  .form1 form, .form2 form, .form3 form {
    justify-self: center;
    background-color: #7184a7;
    width: 100%;
    height: 400px;
    border: solid 2px #444444;
    overflow: hidden;
    overflow: auto; }
    .form1 form .tituloform, .form2 form .tituloform, .form3 form .tituloform {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 0.9em;
      letter-spacing: -2.5px;
      font-weight: bolder;
      color: white;
      text-align: center;
      margin-top: 20px;
      position: relative; }
    .form1 form label, .form2 form label, .form3 form label {
      font-size: 13px;
      position: relative;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 0.9em;
      font-weight: bolder;
      color: white; }
    .form1 form label, .form1 form input, .form1 form textarea, .form1 form select, .form2 form label, .form2 form input, .form2 form textarea, .form2 form select, .form3 form label, .form3 form input, .form3 form textarea, .form3 form select {
      position: relative;
      width: 90%;
      margin-left: 5%; }
    .form1 form .form-check, .form2 form .form-check, .form3 form .form-check {
      position: relative; }
      .form1 form .form-check input, .form2 form .form-check input, .form3 form .form-check input {
        width: 16px !important;
        margin-left: 5px; }
      .form1 form .form-check label, .form2 form .form-check label, .form3 form .form-check label {
        width: 200px !important;
        margin-left: 5px !important; }
      .form1 form .form-check .input2, .form2 form .form-check .input2, .form3 form .form-check .input2 {
        width: 30px !important; }
    .form1 form .form-switch, .form2 form .form-switch, .form3 form .form-switch {
      padding-left: 23px !important; }
  .form1 .botones, .form2 .botones, .form3 .botones {
    position: relative;
    margin-left: 20px; }
    .form1 .botones button, .form2 .botones button, .form3 .botones button {
      color: white;
      border: solid 1px white;
      margin-top: 20px; }
      .form1 .botones button:hover, .form2 .botones button:hover, .form3 .botones button:hover {
        background-color: #444444;
        color: white !important; }
  .form1 form::-webkit-scrollbar, .form2 form::-webkit-scrollbar, .form3 form::-webkit-scrollbar {
    width: 7px; }
  .form1 form::-webkit-scrollbar-thumb, .form2 form::-webkit-scrollbar-thumb, .form3 form::-webkit-scrollbar-thumb {
    background-color: #b2cfd9;
    border-radius: 7px; }

@keyframes laterales {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 200px; }
  100% {
    margin-left: 0; } }
@media (min-width: 1064px) {
  .form1, .form2, .form3 {
    height: 500px; }

  video {
    display: flex; }

  .form2 .aside {
    grid-column: 1/2 !important; }

  .form1, .form2, .form3 {
    display: grid;
    grid-template-columns: 50% 50%; }
    .form1 .aside, .form2 .aside, .form3 .aside {
      justify-self: center;
      display: flex;
      flex-direction: column;
      grid-column: 2/3; }
    .form1 video, .form2 video, .form3 video {
      margin-top: 50px;
      border-radius: 10px;
      animation-name: laterales;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      transition: 5s;
      animation-timing-function: linear; }
    .form1 .texto, .form2 .texto, .form3 .texto {
      font-size: 30px;
      margin-top: 50px; }
    .form1 form, .form2 form, .form3 form {
      margin-left: 30px;
      margin-top: 50px;
      width: 600px;
      border-radius: 10px; }
      .form1 form .tituloform, .form2 form .tituloform, .form3 form .tituloform {
        font-size: 30px; }
      .form1 form label, .form2 form label, .form3 form label {
        font-size: 15px; }
      .form1 form label, .form1 form input, .form1 form textarea, .form1 form select, .form2 form label, .form2 form input, .form2 form textarea, .form2 form select, .form3 form label, .form3 form input, .form3 form textarea, .form3 form select {
        width: 500px;
        margin-left: 50px; }
      .form1 form .form-check input, .form2 form .form-check input, .form3 form .form-check input {
        margin-left: 50px; }
      .form1 form .botones, .form2 form .botones, .form3 form .botones {
        margin-left: 230px; }
        .form1 form .botones button, .form2 form .botones button, .form3 form .botones button {
          margin-left: 20px; } }
/*----------------------------Contacto----------------------------*/
.seccionformulario {
  margin-top: 50px;
  color: white;
  justify-self: center;
  width: 100% !important;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 480px) {
  .seccionformulario .formulario {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px; } }
@media (min-width: 768px) {
  .seccionformulario .formulario {
    width: 70%;
    margin-left: 15%; } }
@media (min-width: 1064px) {
  .seccionformulario .formulario {
    width: 60%;
    margin-left: 20%; } }
.posttitulo {
  display: grid;
  grid-template-rows: 1fr 1fr 200px;
  background-color: #181818; }
  .posttitulo .seccionformulario {
    grid-row: 1/2;
    justify-self: center; }
  .posttitulo aside {
    grid-row: 2/3; }
  .posttitulo .ubicacion {
    grid-column: 1/2;
    grid-row: 3/4; }
  .posttitulo iframe {
    width: 100%;
    height: 200px; }

.titulocontacto {
  color: white;
  font-size: 20px !important;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: -1px;
  font-weight: bolder !important;
  text-decoration: underline #7184a7;
  text-align: center; }

@media (min-width: 1064px) {
  .posttitulo {
    display: grid;
    grid-template-rows: 700px  200px;
    grid-template-columns: 1fr 1fr; }

  aside {
    grid-row: 1/2 !important; }

  .seccionformulario {
    grid-row: 1/2 !important;
    grid-column: 2/3;
    justify-self: center; }

  .ubicacion {
    grid-column: 1/3 !important;
    grid-row: 2/3 !important; } }
aside {
  margin-top: 50px;
  text-align: center;
  width: 80%;
  margin-left: 10%; }
  aside i {
    color: white;
    font-size: 20px; }
  aside a:hover {
    color: #7184a7 !important; }
  aside .nosotros {
    margin-top: 20PX; }
    aside .nosotros p {
      color: white;
      font-size: 15px;
      font-weight: 300;
      font-weight: bolder !important; }
    aside .nosotros i {
      font-size: 15px; }
      aside .nosotros i a {
        color: white;
        text-decoration: none; }
  aside .logoaside img {
    background-color: #aaa;
    border-radius: 10px;
    margin-top: 50px;
    width: 140px;
    height: 140px; }

@media (max-width: 1064px) {
  .asidePagesContacto {
    display: none !important; } }

/*# sourceMappingURL=newStyles.css.map */
