* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.row {
  --bs-gutter-x:0rem !important; }

header {
  position: sticky;
  top: 0%;
  z-index: 3; }

nav {
  height: 50px;
  background-color: #0c0c0c;
  font-size: 17px;
  padding-top: 5px !important; }
  nav a {
    color: #dbdbdb !important; }
  nav .dropdown-menu {
    background-color: #0c0c0c; }
  nav .container-fluid {
    background-color: #0c0c0c; }
  nav .dropdown-item:hover {
    background-color: #444444; }
  nav .logosNav {
    display: none; }
  nav #logo {
    background-color: #aaa;
    height: 40px;
    width: 40px; }
    nav #logo img {
      height: 40px;
      width: 40px; }
  nav .navbar-toggler-icon {
    background-image: inherit; }
    nav .navbar-toggler-icon i {
      color: white;
      font-size: 30px; }

@media (min-width: 1064px) {
  nav {
    font-size: 17px; }
    nav .logosNav {
      display: block; }
      nav .logosNav a {
        font-size: 30px;
        margin-left: 5px; } }
main {
  height: auto;
  padding: 0% !important;
  z-index: 1;
  position: relative;
  margin-bottom: 190px; }

@media (max-width: 1064px) {
  main {
    margin-bottom: 70px !important;
    padding-bottom: 20px !important; } }
/*----------------------------Index----------------------------*/
.portada {
  background-image: url(../assets/img/fondo-nuestros-proyectos.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 245px;
  position: relative;
  z-index: 1;
  height: 245px; }
  .portada .portadatitulo {
    width: 100%;
    color: white;
    padding-top: 50px;
    padding-left: 30px;
    overflow: hidden; }
    .portada .portadatitulo span {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 0.9em;
      letter-spacing: -2.5px;
      font-weight: bolder !important;
      position: relative; }

.portada::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 245px;
  background-color: black;
  position: absolute;
  opacity: 0.7; }

.imgportada {
  display: none; }

@media (min-width: 1064px) {
  .portada {
    background-size: 100% 670px;
    height: 670px; }

  .portada::before {
    height: 670px; }

  .portadatitulo {
    padding-top: 150px !important;
    padding-left: 50px; }
    .portadatitulo span {
      font-size: 60px !important;
      font-weight: 300;
      letter-spacing: -5px; }

  .blockquote-footer {
    font-size: 25px !important; }

  .blockquote-footer::before {
    padding-left: 100px !important; }

  .imgportada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .imgportada .img2 {
      grid-row: 2/3;
      grid-column: 2/3; } }
/*---secciones servicios---*/
.seccionProyectos2 {
  background-color: #0c0c0c;
  display: flex !important;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .seccionProyectos2 .contenedor {
    border-radius: 50%;
    overflow: hidden; }
    .seccionProyectos2 .contenedor img {
      height: 200px;
      width: 200px;
      border-radius: 50%; }
      .seccionProyectos2 .contenedor img:hover {
        filter: opacity(60%);
        transform: scale(1.2);
        transition-duration: 2s; }
  .seccionProyectos2 p, .seccionProyectos2 h5 {
    color: white; }
  .seccionProyectos2 h5 {
    margin-top: 20px;
    border-bottom: solid 2px red;
    font-size: 17px; }
  .seccionProyectos2 p {
    line-height: 0.02px;
    margin-top: 10px;
    font-size: 13px; }

@media (min-width: 480px) {
  h5 {
    font-size: 12px !important; } }
@media (min-width: 1064px) {
  .seccionProyectos2 .contenedor {
    border-radius: 50%;
    overflow: hidden; }
    .seccionProyectos2 .contenedor img {
      height: 250px;
      width: 250px !important;
      border-radius: 50%; }
      .seccionProyectos2 .contenedor img:hover {
        filter: opacity(60%);
        transform: scale(1.2);
        transition-duration: 2s; }
  .seccionProyectos2 h5 {
    font-size: 20px !important; }
  .seccionProyectos2 p {
    line-height: 0.05px;
    font-size: 18px; } }
/*---muestra proyectos--*/
.proyectos2 {
  display: none; }

.fondos, .principalesProyectos {
  background-position: center;
  background-size: cover;
  position: relative; }

.principalesProyectos {
  background-image: url(../assets/img/fondo-nuestros-proyectos.jpg);
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .principalesProyectos .tituloproyectos {
    font-size: 15px;
    margin-top: 5px;
    color: white;
    position: relative;
    text-align: center;
    align-self: center;
    font-weight: bolder; }

.principalesProyectos::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#carouselExampleFade {
  width: 250px;
  height: 250px;
  padding: inherit; }

@media (min-width: 1064px) {
  #carouselExampleFade {
    display: none; }

  .principalesProyectos {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 540px 540px 1fr;
    grid-template-rows: 60px 220px 140px 210px 90px 30px;
    grid-column-gap: 5px; }
    .principalesProyectos .contenedor {
      border-radius: 0%;
      overflow: hidden; }
      .principalesProyectos .contenedor img {
        height: auto;
        width: auto;
        border-radius: 0%; }
        .principalesProyectos .contenedor img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .principalesProyectos div {
      color: white;
      position: relative;
      grid-row: 5/6;
      grid-column: 3/4;
      align-self: center; }
      .principalesProyectos div a {
        color: white !important; }
    .principalesProyectos .tituloproyectos {
      font-size: 25PX;
      grid-row: 1/2;
      grid-column: 2/4; }
    .principalesProyectos .proyecto1 {
      grid-row: 2/4;
      grid-column: 2/3; }
    .principalesProyectos .proyecto2 {
      grid-row: 2/4;
      grid-column: 3/4;
      align-self: start; }
    .principalesProyectos .proyecto3 {
      grid-row: 4/6;
      grid-column: 2/3; }
    .principalesProyectos .proyecto4 {
      grid-row: 3/5;
      grid-column: 3/4; } }
/*---informacion---*/
.informacion {
  display: none !important; }

.seccioninformacion {
  background-color: #0c0c0c; }

.informacion .card-title, .carousel .card-title {
  height: 30px;
  width: 200px;
  border-bottom: solid red 1px; }
.informacion .card, .carousel .card {
  background-color: inherit !important;
  border: inherit !important;
  color: white !important; }
  .informacion .card img:hover, .carousel .card img:hover {
    filter: opacity(70%);
    transform: scale(1.1); }

.carousel {
  padding-top: 20px;
  padding-bottom: 20px; }
  .carousel .carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .carousel .card-body {
    padding: inherit; }
  .carousel .card-title {
    height: 35px;
    width: 120px;
    font-size: 15px;
    margin-top: 5px; }
  .carousel .card-text {
    font-size: 10px; }
  .carousel .card {
    width: 120px !important; }

@media (min-width: 1064px) {
  .carousel {
    display: none; }

  .informacion {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0c0c0c;
    padding-top: 30px; } }
/*---footer---*/
footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  transition: all .25s ease;
  backface-visibility: hidden;
  perspective: 800px;
  padding-top: 10px;
  height: 190px;
  background-image: url(../assets/imagenes-arq/portada-seccion.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed; }
  footer .seccion1 {
    position: relative; }
    footer .seccion1 h5 {
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion1 i {
      color: white;
      font-size: 17px; }
      footer .seccion1 i a {
        text-decoration: none;
        color: white; }
  footer .seccionmobile {
    display: none; }
  footer .seccion2 {
    position: relative;
    border-top: solid 2px #b1b0b0; }
    footer .seccion2 a, footer .seccion2 h6 {
      position: relative;
      color: #b1b0b0;
      font-style: oblique; }
    footer .seccion2 img {
      background-color: #aaa !important;
      border-radius: 5px;
      margin-right: 5px;
      width: 40px;
      height: 40px; }
    footer .seccion2 p {
      color: #b1b0b0;
      margin-top: 10px;
      height: 10px; }

footer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@media (max-width: 1064px) {
  footer {
    height: 90px; }
    footer .seccion1 {
      display: none !important; }
    footer .seccion2 {
      border-top: inherit !important; }
      footer .seccion2 .tituloarki {
        margin-top: 5px; }
      footer .seccion2 a img {
        width: 20px;
        height: 20px; }
      footer .seccion2 h6, footer .seccion2 p {
        font-size: 10px !important; }
      footer .seccion2 p {
        margin-top: inherit; }
    footer .seccionmobile {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: solid 0.05px white;
      padding-bottom: 5px; }
      footer .seccionmobile a i {
        color: #b1b0b0; } }
/* realizado solo vista mobile de index */
/*----------------------------secciones----------------------------*/
.bodypages {
  background-image: url(../../assets/imagenes-arq/portada-seccion.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 380px;
  position: relative;
  z-index: 1; }

.bodypages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.7; }

.tituloarquitectura {
  width: 100%;
  height: 300px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  padding-right: 100px; }

@media (max-width: 1064px) {
  .tituloarquitectura {
    background-position: center;
    padding-right: 0%;
    padding-bottom: 40px;
    height: 200px; } }
.tituloproyectos1 {
  display: none !important; }

.mainproyectos {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 300px 950px; }
  .mainproyectos .arquitectura {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 50px;
    background-color: #0c0c0c; }

.offcanvas {
  margin-top: 70px; }

.arquitectura .card-title {
  height: 30px;
  width: 270px;
  border-bottom: solid red 1px;
  font-style: oblique; }
.arquitectura .card-text {
  line-height: 8px;
  margin-top: 20px; }
.arquitectura .card {
  background-color: inherit !important;
  border: inherit !important;
  color: white !important; }
.arquitectura .imagenButton {
  border: inherit !important;
  background-color: inherit !important;
  width: 300px;
  height: 300px;
  overflow: hidden; }
  .arquitectura .imagenButton img:hover {
    filter: opacity(70%);
    transform: scale(1.1);
    transition-duration: 2s; }
.arquitectura .offcanvas {
  background-color: #444444;
  color: white; }
.arquitectura .offcanvas-title {
  font-style: oblique;
  border-bottom: solid 2px red; }
.arquitectura .informaciondeproyecto p {
  margin-top: 10px;
  font-size: 14px; }

@media (max-width: 1064px) {
  .mainproyectos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 2600px;
    padding-top: 0%; }
    .mainproyectos .arquitectura {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-top: 30px;
      padding-right: 10px; } }
.asidesecciones {
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 1; }
  .asidesecciones .info3 {
    height: 50px;
    width: 100%;
    border: inherit;
    border-radius: 0%;
    background-color: #444444;
    transform: rotate(90deg); }
    .asidesecciones .info3 button {
      height: 100% !important;
      width: 100% !important;
      transform: rotate(90deg) !important; }
  .asidesecciones .atencion {
    color: white;
    margin-top: 50px; }
    .asidesecciones .atencion .imgatencion {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      overflow: hidden; }
      .asidesecciones .atencion .imgatencion img {
        border-radius: 50%;
        width: 200px;
        height: 200px; }
        .asidesecciones .atencion .imgatencion img:hover {
          filter: opacity(60%);
          transform: scale(1.2);
          transition-duration: 2s; }
    .asidesecciones .atencion h5 {
      font-style: oblique; }
    .asidesecciones .atencion p {
      width: 380px;
      margin-left: 30px; }
  .asidesecciones .offcanvas {
    width: 650PX !important;
    background-color: #444444; }
    .asidesecciones .offcanvas .offcanvas-title {
      font-weight: bolder;
      color: white;
      font-size: 30px; }

@media (max-width: 1064px) {
  .asidesecciones {
    display: none !important; } }
/*----------------------------Cotizacion----------------------------*/
.subtitulo {
  padding-top: 20px;
  text-align: center; }

@media (min-width: 1064px) {
  .subtitulo {
    text-align: left;
    padding-left: 30px; }
    .subtitulo h6 {
      font-size: 30px; }
    .subtitulo .blockquote-footer {
      font-size: 20px !important;
      margin-top: 10px; }

  .accordion {
    width: 700px;
    margin-left: 50px; }

  .postTitulo {
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-template-rows: auto;
    padding-bottom: 30px; } }
.asideCotizacion {
  display: none !important; }

@media (min-width: 1064px) {
  .asideCotizacion {
    display: block !important; }
    .asideCotizacion video {
      animation-name: laterales;
      animation-duration: 5s;
      animation-iteration-count: infinite; } }
@keyframes laterales {
  0% {
    padding-left: 0px;
    padding-right: 100px; }
  100% {
    padding-left: 100px; } }
/*----------------------------Contacto----------------------------*/
.formulario {
  width: 500px;
  margin-top: 50px;
  color: white;
  justify-self: center; }
  .formulario .botones2 {
    display: none !important; }

@media (max-width: 1064px) {
  .formulario {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .formulario .botones2 {
      display: flex !important;
      height: 100px; }
    .formulario .botones {
      display: none !important; } }
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px; }

@media (max-width: 1064px) {
  .contacto {
    display: grid;
    grid-template-columns: 100%; } }
.asidePagesContacto {
  grid-column: 2/3;
  justify-self: center;
  width: 500px;
  height: 450px;
  margin-top: 50px;
  font-style: oblique;
  color: white; }
  .asidePagesContacto i {
    color: white; }
  .asidePagesContacto .datos {
    width: 500px; }
    .asidePagesContacto .datos a {
      text-decoration: none;
      color: white; }
  .asidePagesContacto .redescontacto i {
    font-size: 27px; }
  .asidePagesContacto iframe {
    border-radius: 15px; }

@media (max-width: 1064px) {
  .asidePagesContacto {
    display: none !important; } }

/*# sourceMappingURL=newStyles.css.map */
