*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*root------------------------*/

:root{

    --color-principal:#242b34 ;
}
/*-------------------------------------------INDEX---------------------------------------------------------*/



/*-----------HEADER---------*/

header{

    position: sticky;
    top: 0%;
    z-index: 2;
}

.row{

    --bs-gutter-x:0rem !important;
}
/*MAIN*/

main{background:var(--color-principal);
    height: auto;
    padding: 0% !important;
}




nav{ 
    
    background-color:var(--color-principal)   !important ;
    font-size: 17px;

}
nav a{

    color: rgb(219, 219, 219) !important;

}
    
.navbar-brand{

    background-color: #aaa;
}

.portada {

    width: 100%;
    height: 300px;
    background-image: url(../assets/img/portada.jpg) ;
    background-size:cover;
    filter: opacity(75%);
    
}
.portada h1{

    padding-top: 30px;
    
}
.portada h1, .blockquote-footer::before {

    padding-left: 20px;
}




/*titulo*/

.titulo{
    color: white;
    font-weight: bold;
    background-color:var(--color-principal);
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0%;

}

#carouselExampleCaptions {

    width: 100% !important;
}

/*-----------POST-PORTADA---------*/

#contenedorproyectos{

    height: 145px;
    
    color: white !important;
    
    background-color: #14181dd5;
    margin-top: 5px;
}

#contenedorproyectos h6, figcaption{

    
    padding-left: 10px;
   
}

#contenedorproyectos a{

    color: white !important;
    text-decoration: none!important;
    width: 100%;
    height: 25px;
    margin: 0% !important;
    padding: 0% !important;
    text-align: center;
}


/*-----------ASIDE--------------------------------------*/

#asideIndex div { display: none;}

/*----------UBICACION------------*/

.seccionUbi{

    width: 100%;
    height:380px;
    
 }
 
.tituloUbicacion{
    
    color: white;
    font-weight: bold;
    background-color:var(--color-principal);
    justify-content: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;

    
     width: 100%;
     display: flex;
     flex-direction: row;
    align-content: center;
    
 }

 .tituloUbicacion p {

    margin: 0%;
 }

 .tituloUbicacion img {

    width: 15px;
    height: 15px;
}


.ubicacion{

    width: 100%;
    height: 350px;
   
      
        
}



/*---------------------------FOOTER------------------------*/

footer{ background-color: var(--color-principal);
padding-bottom: 10px;
padding-top: 10px;
}

footer i {

    color: white;
}


.derechos{

    font-size: 10px;
}
/*--------------------------------------RESONSIVE INDEX (769px)--------------------------*/

@media(min-width:769px){

    #textoportadamobile {
        
        font-size: 20px;
        line-height: 40px;
    }  
    
    .pages {

        
        font-size: 20px;
        
    }

    .titulo{

        text-indent: 50px;
        font-size: 25px;
    
    }

    

    .tituloUbicacion{

        font-size: 15px;
    }
}
    

/*--------------------------------------RESONSIVE INDEX (1024px)--------------------------*/

@media(min-width:1024px){

    #textoportadamobile {
        
        font-size: 35px;
        line-height: 60px;
    }  

#proyectos{

    margin-top: 40px;
}   

.card-body{

    background-color: #b9b9b9 !important;
}
.btn{

    background: #383838 !important;
    border: #FFFFFF !important;

}
/*-----------POST-PORTADA---------*/
    
#carouselExampleCaptions{

    padding-top: 30px;
    padding-left: 30px
}
  

/*-----------ASIDE----------------*/

    #asideIndex{ display: block;}

    #asideIndex{
        margin-top: 20px;
           
    }
    
    #logosRedes{
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        margin-bottom: 20px;
    }
    
   #logosRedes i{
    
        color: white;
        font-size: 50px;
    }
    
    .columnaInfo{

        height: 850px;
        width: 310px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
         
    }
    
    .columnaInfo h2{background-color: rgba(0, 0, 0, 0.568);}

/*--------------UBICACION-----------------*/

    .seccionUbi{

        padding-top: 60px;
        height: 600px;
        width: 650px;
    }

    .tituloUbicacion{
    
        margin-top: 0%;
        width: 700px;
    
    }

    .tituloUbicacion img {

        width: 50px;
        height: 50px;
    }

    .ubicacion{
 
        margin-top: 40px;
        margin-left: 40px;
        height: 450px;
        
    }

/*---FOOTER---*/

   

    .contenedor1{
        font-size: 40px;
        background-color: #383838;  

    }

    .contenedor1 i{

        margin-left: 20px;
    }

    .contenedor2{

        display: block;
        line-height:2 ;
        padding-left: 20px;
       
  
    }

  

    .direccionFooter{

        text-indent: 50px;
    
    }

    .emailFooter{

        display: flex;
        flex-direction: row;
        align-items: center;
        text-indent: 5px;
    
    }

    .logosmobile{display: none;}

    .contenedor3{

   
        font-size: 15px;
        
    }

    .contenedor3 img{

        width: 90px;
        height: 90px;
    }

    .contenedor4{
    
    
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        height: 100px;
        
        margin-top: 15px;

    }

    .contenedor4 i{

        font-size: 50px;
        color: black;
    }

}

/*-------------------------------ARQUITECTURA Y REMODELACION----------------------------------------------*/

#tarjetasproyecto{ display: none;}


.tituloarquitectura
{

    width: 100%;
    height: 150px;
    background-image: url(../assets/imagenes-arq/pexels-lucas-pezeta-5924836.jpg);
    background-size:cover;
    
    text-align: center;

}

.tituloarquitectura cite{

    color: white;

}

.tituloproyectos {

    text-align: center;
    padding-top: 10px;
  
}


/*--------------------------------------RESONSIVE ARQ Y REM (1769px)--------------------------*/

@media(min-width:769px){

    #carouselExampleCaptions{

        display: block;
    }
    #tarjetasproyecto{
        display: none;

    }
    .tituloarquitectura{ 
        height: 300px;
        padding-bottom: 150px;
    
    }

}


/*--------------------------------------RESONSIVE ARQ Y  REM (1024px)--------------------------*/

@media(min-width:1024px){

   
   

    #carouselExampleCaptions{

        display: none;
    }
    #tarjetasproyecto{
        display: block;
    }
}
   
/*-------------------------------COTIZACION----------------------------------------------*/

.HTMLcotizacion{
    scroll-behavior: smooth;
    color: white;
}

main{

   height: auto;
   padding-bottom: 20px;
}

.asideCotizacion{ display: none;}

.titulocotizacion{

    width: 100%;
    height: 150px;
    background-image: url(../assets/imagenes-arq/pexels-lucas-pezeta-5924836.jpg);
    background-size:cover;
    fill-opacity: 50%;
    text-align: center;
    padding-top: 10px;
}

.titulocotizacion figcaption{

    background-color: #242b3473;
    margin-top: 5px;

}

.subtitulo h3{

    text-align: center;
    padding-bottom: 10px;
}
.accordion {

    padding-bottom: 30px;
    
}

/*--------------------------------------RESONSIVE COTIZACION (769px)--------------------------*/

@media(min-width:769px){

    .titulocotizacion{

        
        height: 300px;
       
    }
    .subtitulo h3{

        text-align:start;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-top: 20px;
    }

    .subtitulo figcaption{

        padding-left: 50px;
    }
    
/*----------------ASIDE--------------*/

.asideCotizacion{ display:block;}


.asideCotizacion{

    margin-top: 50px;
  
    grid-area: aside ;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);
}

.asideCotizacion video {

    width:300px;
   
}
.video1{
    
   grid-row: 1/2;
   justify-self:end;
   
}

.video2{

   grid-row: 2/3;
   justify-self: end;

}

.video3{

    grid-row: 3/4;
    justify-self: end;
}

}


/*--------------------------------------RESONSIVE COTIZACION (1024px)--------------------------*/

@media(min-width:1024px){


    .asideCotizacion video {

        width: 540px;
       
    }


    .video1{
        
        justify-self: start;
        
    }

    .video3{
        
        justify-self: start;
        
    }

    .video5{
        
        justify-self: start;
        
    }
}

/*-----------------------------------------CONTACTO---------------------------------------------------------*/

.asidePagesContacto{ display: none;}

.pagesTituoContacto{

    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-style: italic;
    font-size: 15px;

  
}

.pagesTextoContacto{

    color: white;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 10px;

}



.formularioCompleto{
    line-height: 35px;
    font-size: 15px;
    background-color: rgba(47, 79, 79, 0.842);
    padding: 5px 10px;
    width: 100%;
    border: solid 2px white;  
}



.formularioContacto{
    color: white;
    display: flex;
    flex-direction: column;
}


.formularioContactoCasilla{

    color: white;

}
.formularioContacto2{

    color: white;
    display: flex;
    flex-direction: column;
}
.formularioContacto2 label{

    color: white;
    width: 20%
}

/*--------------------------------------RESONSIVE COTIZACION (769px)--------------------------*/

@media(min-width:769px){

    .pageMainContacto{

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 550px;
        grid-template-areas:
        
        "info asidelogos"
        "formulario asidecontacto";
    
    }

    .pagesTituoContacto{

        text-align: start;
        padding-left: 25px;
        font-style: italic;
    }

    .pagesTextoContacto{
  
        padding-left: 40px;
        text-align: start;
        width: 400px;
            
    }

    .formularioCompleto{
   
        margin-left: 60px;
        width: 350px;
        border-radius: 20px;
    }

/*---Aside----*/


    .asidePagesContacto{

        display: block;
        margin-left: 10px;
    }

    .pageContactoLogosRedes{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 65px;
    
        grid-area: "asidelogos";
    }
    
    .pageContactoLogosRedes i{
    
        font-size: 50px;
        color: white;
    }
    
    
    
    
    .miniLogoWpp{
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    .miniLogoWpp a{
    
        color: white;
        text-decoration: none;
    }

    .tituloUbicacionFooter {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .tituloubiasidecontacto {
        margin-left: 2px;
        text-decoration: none;
        color: white;
    }
    .pageContactoTextoAside{
    
        color: rgb(238, 238, 238);
        border: solid ;
        width: 75%;
        height: 100px;
        margin-bottom: 20px;
        margin-left: 70px;
        background-color: darkslategrey;
        padding: 5px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        font-size: 15px;
    }
    

    .asidePagesContacto iframe{

        width: 75%;
        margin-left: 70px;
    }

}

/*--------------------------------------RESONSIVE COTIZACION (1024px)--------------------------*/

@media(min-width:1024px){

    .pageMainContacto{

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 600px;
      
    
    }
    .pagesTituoContacto{

       font-size: 25px;
       
    }
    .pagesTextoContacto{

      
        font-size: 15px;
        width: 700px;
        
    }

    .formularioCompleto{
   
        margin-left: 100px;
        
    }

    .pageContactoLogosRedes{

        margin-left: 30%;
    }

    .pageContactoTextoAside{
    
        
        width: 45%;
    
        margin-left: 30%;
        background-color: darkslategrey;
        padding: 5px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .asidePagesContacto iframe{

        width: 80%;
        height:400px;
        margin-left: 70px;
    }

    .asideCotizacion video {

       animation-name: laterales;
       animation-duration: 5s;
       animation-iteration-count: infinite
    }
}

@keyframes laterales{

    0%{
        padding-left: 0px;
        padding-right: 100px;
    }

    100%{

        padding-left: 100px;
    }
}
