.titulo{
    color: white;
    font-weight: bold;
    background-color:var(--color-principal);
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0%;

}

#carouselExampleCaptions {

    width: 100% !important;


}