
@import "variables";

footer{ 
    
    background-color: var(--color-principal);
    padding-bottom: 10px;
    padding-top: 10px;

    i { color: white;}
    
    p{ 
        
        font-size: 10px;
        color: white;}
    }