
@import "./_extras.scss/variables";
@import "mixin";

footer{ 
    
    
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    transition: all .25s ease;
    backface-visibility: hidden;
    perspective: 800px;
    
    padding-top: 10px;
    height:190px;

    background-image: url(../assets/imagenes-arq/portada-seccion.jpg);
    background-position: center center;
    background-size: cover;
    position: fixed;
      
    .seccion1{

        position: relative;

        h5{

            color: $letras-footer;
            font-style: oblique;
            
        }

        i{
            color: white;
            font-size:17px;

            a{
                text-decoration: none;
                color: white;
            }
        }
        
    }

    .seccionmobile{display: none;}
    
    

    .seccion2{

        position: relative;
        border-top: solid 2px $letras-footer;

        

        a, h6{

            position: relative;
            color: $letras-footer;
            font-style: oblique;
        }

        img{

            background-color:$color-logo!important;
            border-radius: 5px;
            margin-right: 5px;
            width: 40px;
            height:40px;
        }

        p{ 

         color:$letras-footer;
         margin-top: 10px;
         height: 10px;
        
        }
    }


}

footer::before{

    content: "";        
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

@media(max-width:1064px){

    footer{

        height: 90px;

        .seccion1{display: none !important;}

        .seccion2{

            border-top:inherit !important;

            .tituloarki{ margin-top: 5px;}
            
            a{

                img{

                    width: 20px;
                    height: 20px;
                }
            }
            
            h6,p {
                font-size: 10px;
            }
            
            p{
                margin-top:inherit;
            }
        }

        .seccionmobile{
            
          
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            border-bottom: solid 0.05px white;
            padding-bottom: 5px;

            a{
                i{
                    color:$letras-footer;

                }
            }
        
        }
    }
    
}




