

.informacion{ display: none !important; }

.seccioninformacion{

    background-color: $color-principal;

    .informacion, .carousel{ 

        

        .card-title{

            @extend .tipografia-subtitulo;
            text-decoration:  none;
            height: 25px;
            width: 200px;
            border-bottom: solid $color-sub 1px;
        }

        .card-text{

           font-weight: bolder;
        }

        .card{

            background-color: inherit !important;
            border: inherit !important;
            color: white !important;

            img:hover{

                filter: opacity(70%);
                transform: scale(1.1);
                
            }
            
        }
    }



    .carousel{

  
        padding-top: 20px;
        padding-bottom: 20px;

        .carousel-item{

            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }

        .card-body{

            padding: inherit;
        }

        .card-title{

            height: 35px;
            width: 120px;
            font-size: 15px;
            margin-top: 5px;
        
        }

        .card-text{

            font-size: 10px;
        }

        .card{

            width: 120px !important;
        }

    }

}

@media (min-width: 600px) {

    .seccioninformacion{

        
        .carousel{display: none;}

        .card{

            width: 120px !important;
        }

        .card-title{

            font-size: 10px;
            width: 120px !important;
            height:38px !important;
        }
        .card-text{

            font-size: 10px;
        }
        .card-body{

            padding: inherit;
            margin-top: 10px;
        }

        .informacion{
            
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: $color-principal;
            padding-top: 30px;
        }
    }
    
   
}

@media (min-width: 1064px) {

    .seccioninformacion{


        .card{

            width: 200px !important;
        }

        .card-title{

            font-size: 20px;
            width: 200px !important;
            height:20px !important;
        }

        .card-text{

            font-size: 13px;
        }
       

    }
   
}