@mixin texto($justify){

    font-size: $justify !important;
    
}

@mixin d-flex ($justify, $align){

    display: flex !important;
    flex-direction: $justify !important;
    justify-content: $align !important;

}
    
@mixin contenedor($rds, $h, $w) {
    
    border-radius:$rds;
    overflow: hidden;

    img{
        height: $h;
        width: $w;
        border-radius: $rds;
      
        
        &:hover{

            filter: opacity(60%);
            transform: scale(1.2);
            transition-duration: 2s;
            
        }
       
    }
}
