
nav{

    background-color:var(--color-principal)   !important ;
    font-size: 17px;

    a{color: rgb(219, 219, 219) !important;}

    .navbar-brand{ background-color: #aaa;}
    .logosNav{ display: none;}
}

@media(min-width:1064px){

    nav{
    font-size: 17px;
    
    .dropdown-menu{
        background-color: var(--color-principal);
    }
    a{
        font-size: 15px;
        background-color: var(--color-principal);
    }

    .logosNav{

        display: block;
        a{
            font-size: 30px;
            margin-left: 5px;
        }
    }
    }
}

