@import "./_extras.scss/variables";

nav{

    height: 50px;
    background-color:$color-principal;
    font-size: 17px;
    padding-top: 5px !important;


    a{color: rgb(219, 219, 219) !important;}

    a:hover{

        color: $color-sub !important;
    }

    .dropdown-menu{ background-color: $color-principal; }

    .container-fluid {background-color: $color-principal;}
    
    .dropdown-item:hover{

        background-color:$color-secundario;
     }
    .logosNav{ display: none;}

    #logo{
        background-color: $color-logo;
        height: 40px;
        width: 40px;
        

        img{

            height: 40px;
            width: 40px;
           
        }
    }

    .navbar-toggler-icon{

      background-image: inherit;

      i{

        color: white;
        font-size: 30px;
      }
    }

}



@media(min-width:1064px){
    
    
    nav{
    font-size: 17px;
    
    
   
  

    .logosNav{

        display: block;
        a{
            font-size: 30px;
            margin-left: 5px;
        }
    }
    }
}


