
/*listo*/

@import "./_extras.scss/variables";
@import "./_extras.scss/extend-y-class";

.proyectos2{ display: none;}



.principalesProyectos{

   
    background-image: url(../assets/img/fondo-portada.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .tituloproyectos{

        @extend .tipografia-titulo;
        color: white;
        font-size: 15px;
        position: relative;
        text-align: center;
        align-self: center;
    }
    
    #carouselExampleFade{
    
        width: 250px;
        height: 250px;
        padding: inherit;
      
        
    }
}

.principalesProyectos::before{

    content: "";        
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

/*----responsive-------*/


@media(min-width:1064px){

   
    .principalesProyectos{

        #carouselExampleFade {display: none;}

        height: auto;

        p{

            font-size: 25px !important;
            margin-top: 30px;
        }
   
        .proyectos2{ 
    
    
   
            display: grid;
            grid-template-columns: 1fr 500px 500px 1fr;
            grid-template-rows: 30px 165px 80px 150px 80px 20px;
            grid-column-gap: 5px;
            
            img{

                width: 500px;
            }

            .contenedor{ @include contenedor (0%,auto,auto )}

            div{

                color: white;
                position: relative;
                grid-row: 5/6;
                grid-column: 3/4;
                align-self: center;

                a{color: white !important;}
            }

        
            .tituloproyectos{

                grid-row: 1/2;
                grid-column: 2/4;
                
            }

            .proyecto1{

                grid-row: 2/4;
                grid-column: 2/3;
               img{

                
                width: 500px;
               height: 240px;
               }
            }

            .proyecto2{

                grid-row: 2/4;
                grid-column: 3/4;
                align-self: start;

                img{

                
                    width: 500px;
                   height: 150px;
                   }
            }

            .proyecto3{

                grid-row: 4/6;
                grid-column: 2/3;

                img{

                
                    width: 500px;
                   height: 220px;
                   }
            }

            .proyecto4{

                grid-row: 3/5;
                grid-column: 3/4;

                img{

                
                    width: 500px;
                   height: 240px;
                   }
                
            }
        
        
        }
    
    }
}



