
@import "variables";

.titulo{

    color: white;
    font-weight: bold;
    background-color:var(--color-principal);
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0%;

}

#carouselExampleCaptions { 
    
    width: 100% !important; 
    padding-top: 15px;
}

.principalesProyectos{ display: none}

/*--VISTA DESKTOP--*/

@media(min-width:1064px){

    .titulo{display: none;}

    #carouselExampleCaptions { display: none; }

    .fondos{

        background-position:center;
        background-size: cover;
        position: relative;

    }
    
    .principalesProyectos{

        @extend.fondos;
        background-image: url(../assets/img/fondo-nuestros-proyectos.jpg);
        
    }

    .principalesProyectos::before{

        content: "";        
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }

    .principalesProyectos{

        .contenedor{ @include contenedor (0%,auto,auto )}

        div{

            color: white;
            position: relative;
            grid-row: 5/6;
            grid-column: 3/4;
            align-self: center;

            a{color: white !important;}
        }

       
        height: auto;
        display: grid;
        grid-template-columns: 1fr 540px 540px 1fr;
        grid-template-rows: 60px 220px 140px 210px 90px 30px;
        grid-column-gap: 5px;
        
        h3{

            color: white;
            position: relative;
            grid-row: 1/2;
            grid-column: 2/4;
            text-align: center;
            align-self: center;

        }

        .proyecto1{

            grid-row: 2/4;
            grid-column: 2/3;
            
        }

        .proyecto2{

            grid-row: 2/4;
            grid-column: 3/4;
            align-self: start;
        }

        .proyecto3{

            grid-row: 4/6;
            grid-column: 2/3;
        }

        .proyecto4{

            grid-row: 3/5;
            grid-column: 3/4;
        }
       
        
    }
    

}



