

@import "mixin";
@import "./_extras.scss/variables";


.seccionservicios{
        
    background-color: $color-principal;
    padding-top: 20px;
    padding-bottom: 20px;
        

    .contenedor{
            
        @include contenedor (50%,200px,200px);
            
    }

    p , h5{ color:white;}

    h5{

        margin-top: 20px;
        border-bottom: solid 2px $color-sub;
        font-size: 17px ;

        @extend .tipografia-subtitulo;
        text-decoration: none !important;
    }
    
    p{
        line-height:0.02px;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bolder;
    }
    


}

@media(min-width:480px){

    .seccionservicios{

        
        h5{font-size: 20px !important;}
    
    }
     
}




@media(min-width:1064px){

    .seccionservicios{
        
        display: flex!important;
        flex-direction: row !important;
        justify-content: space-around;
  
        .contenedor{
                
            @include contenedor (50%,250px,250px !important);
                
        }

        h5{
        
            font-size: 20px !important;
        }
    
   
        p{

            line-height:0.05px;
            font-size: 18px;
        }
    }
}


