
@import "maps";
@import "mixin";

.seccionProyectos{


    .contenedorproyectos{

        height: 145px;
        color:map-get($colores,"principal");
        background-color: #14181dd5;
        margin-top: 5px;
    
        h6, figcaption{ padding-left: 10px; }
    
        a{
    
            color: map-get($colores,"principal");
            text-decoration: none!important;
            width: 100%;
            height: 25px;
            margin: 0% !important;
            padding: 0% !important;
            text-align: center;
        }
    }
  
   
}

.seccionProyectos2{
        
    display: none !important;
    p , h5{ color:map-get($colores,"principal");}

    h5{
        margin-top: 20px;
        border-bottom: solid 2px red;
    }
    
    p{
        line-height:0.05px;
        margin-top: 10px;
    }

}



@media(min-width:1064px){

    .seccionProyectos2{
        
        display: flex!important;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        

        .contenedor{
            
            @include contenedor (50%,250px,250px);
            
        }
       

    }
    
    .seccionProyectos{

        display: none !important;
    }
}
