
@import "maps";
@import "mixin";
@import "variables";


.seccionProyectos2{
        
    background-color: $color-principal;
    display: flex!important;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
        

    .contenedor{
            
        @include contenedor (50%,200px,200px);
            
    }

    p , h5{ color:map-get($colores,"principal");}

    h5{
        margin-top: 20px;
        border-bottom: solid 2px red;
        font-size: 17px ;
    }
    
    p{
        line-height:0.02px;
        margin-top: 10px;
        font-size: 13px;
    }
    


}

@media(min-width:480px){

   
        h5{font-size: 12px !important;}
    
  
     
}




@media(min-width:1064px){

    .seccionProyectos2{
        
    .contenedor{
            
        @include contenedor (50%,250px,250px !important);
            
    }
    h5{
       
        font-size: 20px !important;
    }
    
   
    p{
        line-height:0.05px;
       
        font-size: 18px;
    }
}
}


