.seccionUbi{

    width: 100%;
    height:500px;
    
    div{
    
        color: white;
        font-weight: bold;
        background-color:var(--color-principal);
        justify-content: center;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        
        p { margin: 0%; }
        
        img {

            width: 15px;
            height: 15px;
        }

        iframe { 

            height: 200px;
        }
        
     }
 }

 
 @media (min-width: 1064px) {

    .seccionUbi{


        width: 50%;
    }

 }