*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



@import "variables";
@import "row";
@import "header";
@import "main";
@import "body";
/*----------------------------Index----------------------------*/

@import "portada";

/*---secciones servicios---*/

@import "secciones-servicios";

/*---muestra proyectos--*/

@import "proyectos-destacados";

/*---informacion---*/

@import "informacion";

/*---footer---*/

@import "footer";


/* realizado solo vista mobile de index */

/*----------------------------secciones----------------------------*/



@import "../scss/portada-secciones";

@import "../scss/_secciones.scss/proyectos";

@import "../scss/_secciones.scss/aside-secciones";


/*----------------------------Cotizacion----------------------------*/


@import "../scss/_cotizacion.scss/main-cotizacion";
/*----------------------------Contacto----------------------------*/
@import "../scss/_contacto.scss/formulario";
@import "../scss/_contacto.scss/cuerpo-contacto";
@import "../scss/_contacto.scss/aside-contacto";