*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



@import "./_extras.scss/variables";
@import "./_extras.scss/row";
@import "./_extras.scss/header";
@import "./_extras.scss/main";
@import "./_extras.scss/body";
@import "./_extras.scss/extend-y-class";


/*----------------------------Index----------------------------*/

@import "portada";

/*---secciones servicios---*/

@import "secciones-servicios";

/*---muestra proyectos--*/

@import "proyectos-destacados";

/*---informacion---*/

@import "informacion";

/*---footer---*/

@import "footer";


/*----------------------------secciones----------------------------*/



@import "../scss/portada-secciones";

@import "../scss/_secciones.scss/proyectos";

@import "../scss/_secciones.scss/aside-secciones";


/*----------------------------Cotizacion----------------------------*/


@import "../scss/_cotizacion.scss/main-cotizacion";
@import "./_cotizacion.scss/aside-cotizacion";
@import "./_cotizacion.scss/funcion-cotizacion";
@import "./_cotizacion.scss/formulario-cotizacion";
@import "./_cotizacion.scss/form-secciones";


/*----------------------------Contacto----------------------------*/
@import "../scss/_contacto.scss/formulario";
@import "../scss/_contacto.scss/cuerpo-contacto";
@import "../scss/_contacto.scss/aside-contacto";