/*listo*/

.asidesecciones{

    grid-row: 2/3 !important;
    grid-column: 2/3 !important;
    background-color: $color-principal;

    .btn{

       
        width: 25px;
        height: 80px;
        border: inherit;
        border-radius: 0%;
        background-color: $color-secundario ;
        padding: inherit;
        position: fixed;
        top: 50%;

        i{

            font-size: 30px;
            
        }
        
    }
    
    
    .atencion{

        color:white;
        display: flex;
        flex-direction: column ;
        text-align: center ;
        align-items: center;

        .imgatencion{

            border-radius: 50%;
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin-bottom: 20px;

            img{

                border-radius: 50%;
                width: 200px;
                height: 200px;

                &:hover{

                    filter: opacity(60%);
                    transform: scale(1.2);
                    transition-duration: 2s;
                    
                }
            }
        }

        h5{

            font-style: oblique;
            width: 80%;
        }

        p{
            width: 80%;
        }
    }
    
    .offcanvas{

        width: 650PX !important;
        background-color: $color-secundario;
        margin-top: 50px;

        .offcanvas-title{

            color: white;
            font-weight: bolder;
            font-size: 18px;
            border-bottom: solid 1px rgb(0, 0, 0);
                
        }
    }
    
}

@media (min-width:1064px){

    .asidesecciones{

        .atencion{

            display: flex;
            flex-direction: row ;
            align-items: center;

            p{
                width: 380px;
                margin-left: 30px;
            }

        }
         
    }

}
