
.asidesecciones{

    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 1;
    
    .info3{

        height: 50px;
        width: 100%;
        
        border: inherit;
        border-radius: 0%;
        background-color: $color-secundario ;
        transform: rotate(90deg);

        button{

            height:100% !important;
            width: 100% !important;
            transform: rotate(90deg) !important;
        }
    }
    
    
    

    .atencion{

        color:white;
        margin-top: 50px;
        .imgatencion{

            border-radius: 50%;
            width: 200px;
            height: 200px;
            overflow: hidden;
            
            img{

                border-radius: 50%;
                width: 200px;
                height: 200px;

                &:hover{

                    filter: opacity(60%);
                    transform: scale(1.2);
                    transition-duration: 2s;
                    
                }
            }
        }

        h5{

            font-style: oblique;
        }
        p{
            width: 380px;
            margin-left: 30px;
        }
    }
    
    .offcanvas{

        width: 650PX !important;
        background-color: $color-secundario;

        .offcanvas-title{

            font-weight: bolder;
            color: white;
            font-size: 30px;
        }
    }
    
}


@media(max-width:1064px){

    .asidesecciones{display: none !important;}
}
