
/*listo*/

.mainproyectos{

    
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 300px 1fr;

    .titulos{

        grid-column: 1/3;
        grid-row: 1/2;
    }

    .presentacionproyectos{


        grid-column: 1/2;
        grid-row: 2/3;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        justify-items: center;
        padding-top: 50px;
        background-color: $color-principal;

        .card{

            background: inherit;
            border: inherit;
            border-radius: inherit;
            color: white;
            width: 300px;
            height: 400px;
            margin-bottom: 30px;
          

            .btn{

                background: inherit;
                border: inherit;
                padding: inherit;
                height: 250px;
                width: 250px;
                overflow: hidden;

                img{ 
                    
                    border-radius: 5px;
                    height: 250px;
                    width: 250px;
                    
                    &:hover{

                        filter: opacity(70%);
                        transform: scale(1.1);
                        transition-duration: 2s;
                        
                    }
                }
            }

            .titulocard {

                text-transform: uppercase ;
                font-weight: bolder;
                font-size: 18px;
                border-bottom: solid 1px $color-sub;
                width: 250px;
               
            }

            .offcanvas-title{

                text-transform: uppercase ;
                font-weight: bolder;
                font-size: 18px;
                border-bottom: solid 1px rgb(0, 0, 0);
                
            }

            .textocard{

                font-weight: bold;
            }

            .card-body{

                padding: inherit;
            }


            .offcanvas{

                background-color: $color-secundario;
                margin-top: 50px;
            }
        }
    }
}




@media(max-width:1064px){

    .mainproyectos{
    
        .presentacionproyectos{
        
        
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr 1fr 1fr;
             
        }
        
    }

}

@media(max-width:768px){

    .mainproyectos{
    
        display: grid;
        grid-template-columns: 1fr 25px;
        grid-template-rows: 200px 1fr;

        .presentacionproyectos{
        
        
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
            justify-items: center; 
        }
        
    
    }


}

@media(max-width:480px){

    .mainproyectos{
    
        display: grid;
        grid-template-rows: 150px 1fr;


        .card{
           
            width: 200px !important;
            
            .btn{
            
                height: 200px !important;
                width: 200px !important;
               

                img{ 
                    
                    
                    height: 200px !important;
                    width: 200px !important;
                    
                   
                }
            }

            .titulocard {

                font-size: 15px !important;
                width: 200px !important;
               
            }

            .textocard{

                font-size: 13px !important;
                width: 200px !important;
            }

            .card-body{

               width: 200PX  !important;
            }

            
        }    
    }

}

