main{
    
   
    height: auto;
    padding: 0% !important;
    z-index:1;
    position: relative;
    margin-bottom: 190px;
    
}

@media(max-width:1064px){

    main{

        margin-bottom: 70px !important;
        padding-bottom: 20px !important;

    }
}
