
.posttitulo{


    aside{
     
        margin-top: 50px;
        text-align: center;
        width: 80% ;
        margin-left: 10%;
     
    
        i{
    
            color: white;
            font-size: 20px;
        
            &:hover{
        
                color: $color-sub !important;

            }

        }
    
    
        a:hover{
    
        color: $color-sub !important;
        }
    
        .nosotros{
    
            margin-top: 20PX;

            p{
    
            color: white;
            font-size: 15px ;
            font-weight: 300 ;
            font-weight: bolder !important;
    
            }
    
            i{
    
                font-size: 15px;

                a{
                    color: white;
                    text-decoration:none ;
                }
            }
        }
    
        .logoaside{
    
            img{
    
                background-color:$color-logo;
                border-radius: 10px;
                margin-top: 50px;
                width: 140px;
                height: 140px;
            }
        }
    }
    
}
    
    