
.seccionformulario{

    margin-top: 50px;
    color: white;
    justify-self: center;

    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;

    
}

@media(min-width:480px){

    .seccionformulario{

        .formulario{

            width: 80% ;
            margin-left: 10%;
            margin-top: 20px;
        
           
        }
    }
    
}

@media(min-width:768px){

    .seccionformulario{

        .formulario{

            width: 70% ;
            margin-left: 15%;
        
           
        }
    }
    
}



@media(min-width:1064px){

    .seccionformulario{

        .formulario{

            width: 60%;
            margin-left: 20%;
        
        }

    }
    
}
