
.formulario{

    width: 500px;
    
    margin-top: 50px;
    color: white;
    justify-self: center;

    .botones2{ display: none !important;}
   
}

@media(max-width:1064px){

    .formulario{

        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        .botones2{ 
            
            display:flex !important;
            height: 100px;
        
        }
        
        .botones{ display: none !important;}
    }
}
